.eventsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: fit-content;
    row-gap: 0.5rem;
    column-gap: 0.25rem;
    justify-content: space-between;
    align-items: center;

    /* overflow-y: scroll; */


    border: 2px solid lime;
}