.main-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 80vh;
}
.side-container {
    grid-column: 1 / 4;
    height: 80vh;

    background-color: black;
    color: white;
    border: 2px solid rgba(120, 28, 120, 0.707);
}

.sub-container {
    grid-column: 4 / 13;

    display: grid;;
    background-color: orange;
    border: 2px solid rgba(120, 28, 120, 0.707);
}
.section-title {
    grid-column: 1 / 3;
    transform: rotate(-90deg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    /* overflow: hidden; */
}
.sub-1 {
    background-color: rgb(92, 91, 91);
}
.sub-2 {
    /* margin-top: 1rem; */
    background-color: rgb(92, 91, 91);
}
.displayCard-holder {
    /* width: minmax(25%, 100%); */
    width: 180px;
    height: 180px;

}