:root {
    --primary: #222121;
    --secondary: #e7deda;
    --accent: rgba(246, 71, 205, 0.933);
    --accent_2: rgba(0, 167, 204, 0.933);
    --dark: #1f1f1f;
    --light:#d8d7d7;
    --text_1: beige;
    /* --text_1: blanchedalmond; */

}
.quarter {
    min-width: 50%;
    max-width: 50%;
}

.band-page {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr 1fr;
    max-height: 100vh;
    box-sizing: border-box;
}
.page-half {
    display: flex;
    grid-template-columns: 1fr 1fr;
    border: 4px solid red;
    position: relative;
}
.page-half:nth-child(odd) {
    background-color: rgb(31, 30, 30);
}

/* -------- 1st QUARTER -------- */
.media-quarter {
    border: 4px solid blue;
    max-height: 60vh;
    min-height: 100%;
    min-width: 50%;
}
.media-quarter .band-img {
    max-width: 100%;
    min-width: 70%;
    max-height: 100%;
    /* width: minmax(70%, 100%); */
    object-fit: cover;
}
/* -------- 2nd QUARTER -------- */
/* -------- 2nd QUARTER -------- */
.section-divider {
    /* display: flex; */
    z-index: 1;
    /* position: absolute; */
    /* margin: 0 auto; */
    max-width: 20px;
    height: 90%;
    /* background-color: var(--text_1); */
    background-color: lime;
}
/* -------- 2nd QUARTER -------- */
/* -------- 2nd QUARTER -------- */
.bio-quarter {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}
.page-header {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
}
.band-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    min-width: 60%
}
.band-name * {
    /* flex-wrap: wrap; */
    /* margin: auto 5px; */
}
.title {
    justify-self: flex-start;
    color: beige;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-left: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-style: oblique;
    font-size: 1.8rem;
}
.biography {
    flex-wrap: wrap;
}
.show-likes {
    display: flex;
    align-items: center;
    max-width: fit-content;
    font-size: 1.5rem;
    color: rgb(255, 0, 51);
    opacity: 80%;
    /* margin: 0 auto; */
}
.show-likes:hover {
    opacity: 100%;
}
.interact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    text-align: center;
}
.interact .follow-button {
    margin: 0 1rem;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
    border: 3px outset rgba(0, 141, 173, 0.933);
    border-radius: 1rem;
    background: var(--primary);
    color: rgba(103, 172, 172, 0.933);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.interact .follow-button:hover {
    border-color: var(--accent_2);
    color: rgba(147, 199, 199, 0.933);
}
/* -------- 3rd QUARTER -------- */
/* -------- 3rd QUARTER -------- */
.map-quarter {
    /* display: block; */
    grid-column: 1 / 2;
    position: relative;

    /* max-width: 50vh; */
    /* padding: 3rem; */
}
/* -------- 4th QUARTER -------- */
/* -------- 4th QUARTER -------- */
.events-quarter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: minmax(min-montent, 200px); */
    border: 4px solid blue;
}
.displayCard-holder {
    width: minmax(25%, 100%);
}